<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRUCE RICH | AUTHOR | ENVIRONMENTAL LAWYER expert on public international finance and the environment | Nonprofits &amp; Activism</title>
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body>

    <div id="header-container">
    <div class="grid-container">
    	<div id="header" class="grid-x  grid-margin-x">
    		<div id="logo-cell" class="cell medium-3">
    			<a href="./"><img id="logo" src="assets/img/brucerich_logo.svg" alt="Bruce Rich Logo"></a>
    		</div> <!-- #header -->
    		<div class="cell medium-auto">
    			<div class="grid-x">
    				<div id="nav-top" class="cell show-for-medium">
    					<a href="https://www.facebook.com/brucerich" target="_blank"><img src="assets/img/facebook.png" alt="facebook.com"></a>
    					<a href="https://www.linkedin.com/in/bruce-rich-3ba56b15" target="_blank"><img src="assets/img/linkedin.png" alt="linkedin.com"></a>
    				</div> <!-- #nav-top -->
    				<div class="cell" id="nav">
    					<ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
    						<li><a class="menu-title" href="./">Home</a></li>
    						<li>
    						<a id="menu-about" href="about.html" class="menu-title">About</a>
    							<ul class="vertical menu align-left hide-for-medium">
    								<li><a href="about.html#about">About The Author</a></li>
    								<li><a href="media.html#about">Media</a></li>
    							</ul> <!-- .vertical .menu .align-left -->
    							<ul class="vertical menu align-left show-for-medium">
    								<li><a href="about.html">About The Author</a></li>
    								<li><a href="media.html">Media</a></li>
    							</ul> <!-- .vertical .menu .align-left -->
    						</li>
    						<li>
    						<a id="menu-books" href="books.html" class="menu-title">Books</a>
    							<ul class="vertical menu align-left wide hide-for-medium">
    								<li><a href="book.html#book">Mortgaging The Earth</a></li>
    								<li><a href="book.html#book">Foreclosing The Future</a></li>
    								<li><a href="book.html#book">To Uphold The World</a></li>
    								<li><a href="book.html#book">Ashoka In Our Time</a></li>
    								<li><a href="books.html#books">View All</a></li>
    							</ul> <!-- .vertical .menu .align-left .wide -->
    							<ul class="vertical menu align-left wide show-for-medium">
    								<li><a href="book.html">Mortgaging The Earth</a></li>
    								<li><a href="book.html">Foreclosing The Future</a></li>
    								<li><a href="book.html">To Uphold The World</a></li>
    								<li><a href="book.html">Ashoka In Our Time</a></li>
    							</ul> <!-- .vertical .menu .align-left .wide -->
    						</li>
    						<li>
    						<a id="menu-articles" href="articles.html" class="active menu-title">Articles</a>
    							<ul class="vertical menu align-left wide hide-for-medium">
    								<li><a href="article.html#article">Economic Forum: The Developing World</a></li>
    								<li><a href="article.html#article">Environmental Forum: Cover Stories</a></li>
    								<li><a href="article.html#article">Law Review Articles And Comments</a></li>
    								<li><a href="article.html#article">Congressional Testimony</a></li>
    								<li><a href="article.html#article">Development Finance, Environment And Institutions</a></li>
    								<li><a href="article.html#article">Ashoka, Buddhism And Globalization</a></li>
    								<li><a href="article.html#article">Topical Articles And Reviews</a></li>
    								<li><a href="articles.html#articles">View All</a></li>
    							</ul> <!-- .vertical .menu .align-left .wide -->
    							<ul class="vertical menu align-left wide show-for-medium">
    								<li><a href="article.html">Economic Forum: The Developing World</a></li>
    								<li><a href="article.html">Environmental Forum: Cover Stories</a></li>
    								<li><a href="article.html">Law Review Articles And Comments</a></li>
    								<li><a href="article.html">Congressional Testimony</a></li>
    								<li><a href="article.html">Development Finance, Environment And Institutions</a></li>
    								<li><a href="article.html">Ashoka, Buddhism And Globalization</a></li>
    								<li><a href="article.html">Topical Articles And Reviews</a></li>
    							</ul> <!-- .vertical .menu .align-left .wide -->
    						</li>
    						<li>
    							<a href="insights.html#insights"class="menu-title hide-for-medium">Insights</a>
    							<a href="insights.html"class="menu-title show-for-medium">Insights</a>
    						</li>
    						<li>
    							<a href="contact.html#contact"class="menu-title hide-for-medium">Contact</a>
    							<a href="contact.html"class="menu-title show-for-medium">Contact</a>
    						</li>
    					</ul> <!-- .vertical .medium-horizontal .menu .align-right -->
    				</div> <!-- #nav -->
    			</div> <!-- .grid-x -->
    		</div> <!-- .cell .medium-9 -->
    	</div> <!-- #header -->
    </div> <!-- grid-container -->
    </div> <!-- header-container -->
    <a name="article" class="hide-for-medium"></a>
    <div id="br-breadcrumbs">
    <div class="grid-container">
    	<div class="grid-x grid-margin-x">
    		<div class="cell medium-12">
    			<nav aria-label="You are here:" role="navigation">
    			  <ul class="breadcrumbs">
    			    <li><a href="./">Home</a></li>
    			    <li><a href="articles.html">Articles</a></li>
    			    <li><a href="#">Economic Forum</a></li>
    			    <li>
    			      <span class="show-for-sr">Current: </span> India's National Green Tribunal
    			    </li>
    			  </ul>
    			</nav>
    		</div> <!-- .cell .medium-12 -->
    	</div> <!-- .grid-x .grid-margin-x -->
    </div> <!-- grid-container -->
    </div> <!-- breadcrumbs -->
    <div id="article-title">
    <div class="grid-container">
    	<div class="grid-x grid-margin-x">
    		<div class="cell medium-12">
    			<h1 class="h2">India's National Green Tribunal and the Future of Environmental Justice</h1>
    		</div> <!-- .cell .medium-12 -->
    	</div> <!-- .grid-x .grid-margin-x -->
    </div> <!-- .grid-container -->
    </div> <!-- #article-title -->
    <div id="article-page"> <!-- bite hero -->
    <div class="grid-container">
    	<div class="grid-x grid-margin-x">
    		<div class="cell medium-3">
    			<span class="book">
    				<p><img src="assets/img/00-article_fpo.jpg" alt=""></p>
    
    				<h3 class="h4">Tags:</h3>
    				<ul class="book-submenu">
    					<li><a href="tags.html">Green Tribunal</a></li>
    					<li><a href="tags.html">Economics</a></li>
    					<li><a href="tags.html">India</a></li>
    					<li><a href="tags.html">Environmental Courts</a></li>
    					<li><a href="tags.html">Economic Policy</a></li>
    					<li><a href="tags.html">Deep State</a></li>
    					<li><a href="tags.html">Development Institution</a></li>
    					<li><a href="tags.html">Global Justice</a></li>
    					<li><a href="tags.html">Wealth</a></li>
    					<li><a href="tags.html">Poor</a></li>
    					<li><a href="tags.html">Environmental Courts</a></li>
    				</ul>
    			</span>
    		</div> <!-- .cell .medium-3 -->
    		<div class="cell medium-auto article-body">
    			<ul id="book-cite">
    				<li><a href="#">Bruce Rich</a></li>
    				<li><a href="#">Environmental Forum</a></li>
    				<li><a href="#">May-June 2018</a></li>
    				<li><a href="#">p. 34</a></li>
    			</ul>
    			<p class="lead"><strong>Specialized environmental courts</strong> have Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat labore a ex nam id. Enim explicabo magnam atque, quibusdam reprehenderit ab vitae, fugit aliquid. Voluptatum laboriosam officia, assumenda deserunt praesentium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magnam maiores laboriosam praesentium molestias, delectus veniam nihil, assumenda provident incidunt eaque cupiditate veritatis beatae voluptate rerum laudantium magni, laborum unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aut inventore repellat commodi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magnam maiores laboriosam praesentium molestias.</p>
    
    			<p>Delectus veniam nihil, assumenda provident incidunt eaque cupiditate veritatis beatae voluptate rerum laudantium magni, laborum unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aut inventore repellat commodi. Culpa eum, sint illo vel temporibus dolorem quaerat reiciendis repellendus autem totam sit distinctio pariatur asperiores worldwide.</p>
    			<p><a href="">Read full article (PDF)</a></p>
    		</div> <!-- .cell .medium-9 .article-body -->
    	</div> <!-- .grid-x .grid-margin-x -->
    </div> <!-- grid-container -->
    </div> <!-- article nav -->
    <!-- <div id="tags">
    	<div class="grid-container">
    		<div class="grid-x">
    			<div class="cell medium-8 medium-offset-2 text-center">
    				<a class="small button tag" href="tags.html">Green Tribunal</a>
    				<a class="small button tag" href="tags.html">Economics</a>
    				<a class="small button tag" href="tags.html">India</a>
    				<a class="small button tag" href="tags.html">Environmental Courts</a>
    				<a class="small button tag" href="tags.html">Piditate sit</a>
    				<a class="small button tag" href="tags.html">Economic Policy</a>
    				<a class="small button tag" href="tags.html">Vel aut</a>
    				<a class="small button tag" href="tags.html">Corporis magnam</a>
    				<a class="small button tag" href="tags.html">Culpa eum</a>
    				<a class="small button tag" href="tags.html">Global Justice</a>
    				<a class="small button tag" href="tags.html">Corporis</a>
    				<a class="small button tag" href="tags.html">Environmental Courts</a>
    			</div>
    		</div>
    	</div>
    </div> --> <!-- #tags -->
    <div id="article-nav">
    <div class="grid-container">
    	<!-- divider -->
    	<div class="grid-x top_line">
    		<div class="cell medium-12">
    			<hr />
    		</div> <!-- .cell .medium-12 -->
    	</div> <!-- .grid-x .grid-margin-x .top_line -->
    	<!-- /divider -->
    	<div class="grid-x grid-margin-x">
    		<div class="cell medium-6 nav-left">
    			<p><i>Previous Post</i></p>
    			<h3 class="h5"><a href="#">From Neil Gorsuch to Amartya Sen: Natural Law, Ethics, Economics</a></h3>
    		</div> <!-- .cell .medium-6 .nav-left -->
    		<div class="cell medium-auto nav-right">
    			<p><i>Next Post</i></p>
    			<h3 class="h5"><a href="#">A Case Study in India Highlights Conservation and Human Needs&hellip;</a></h3>
    		</div> <!-- .cell .medium-6 .nav-right -->
    	</div> <!-- .grid-x .grid-margin-x -->
    	<!-- divider -->
    	<div class="grid-x bottom_line">
    		<div class="cell medium-12">
    			<hr />
    		</div> <!-- .cell .medium-12 -->
    	</div> <!-- .grid-x .grid-margin-x .bottom_line -->
    	<!-- /divider -->
    	<div class="grid-x grid-margin-x">
    		<div class="cell medium-12">
    			<p class="nav-return"><a href="articles.html">Return to List</a></p>
    		</div> <!-- .cell .medium-12 -->
    	</div> <!-- .grid-x .grid-margin-x -->
    </div> <!-- .grid-container -->
    </div> <!-- #article-nav -->
    
    <div id="footer-container">
    <div class="grid-container">
    	<div id="footer" class="grid-x  grid-margin-x">
    		<div id="footer-logo-cell" class="cell medium-3">
    			<a href="./"><img id="logo" src="assets/img/brucerich_logo.svg" alt="Bruce Rich Logo"></a>
    		</div> <!-- #footer-logo-cell -->
    		<div class="cell medium-1">
    			<ul id="footer-menu">
    				<li><a href="about.html">About</a></li>
    				<li><a href="books.html">Books</a></li>
    				<li><a href="articles.html">Articles</a></li>
    				<li><a href="insights.html">Insights</a></li>
    				<li><a href="contact.html">Contact</a></li>
    			</ul>
    		</div> <!-- .cell .medium-1 -->
    		<div class="cell medium-3">
    			<p class="text-center">Connect</p>
    			<p class="social-footer text-center">
    				<a href="https://www.facebook.com/brucerich" target="_blank"><img src="assets/img/facebook.png" alt="facebook.com"></a>
    				<a href="https://www.linkedin.com/in/bruce-rich-3ba56b15" target="_blank"><img src="assets/img/linkedin.png" alt="linkedin.com"></a></p>
    			<p class="small text-center show-for-medium">&copy; 2018 Bruce Rich | All Rights Reserved</p>
    		</div> <!-- .cell medium-3 -->
    		<div class="cell medium-auto">
    			<p class="text-center"><img class="mail-icon" src="assets/img/mail-icon.png" alt=""></p>
    			<p class="text-center margin-bottom-30">Sign-up For News And Alerts</p>
    				<!-- mobile -->
    				<span id="subscribe" class="hide-for-medium">
    					<form action="">
    						<input type="email" name="email" placeholder="email"><input type="submit" value=">">
    					</form>
    				</span>
    				<!-- desktop -->
    				<span id="subscribe" class="show-for-medium">
    					<form action="">
    						<input type="email" name="email" placeholder="Enter your email"><input type="submit" value=">">
    					</form>
    				</span>
    			<p class="small text-center hide-for-medium">&copy; 2018 Bruce Rich | All Rights Reserved</p>
    		</div> <!-- .cell .medium-5 -->
    	</div> <!-- #footer -->
    </div> <!-- .grid-container -->
    </div> <!-- footer-container -->
    <!-- sticky scroll to top  -->
    <a href="#" class="scrollToTop" style="display: block;">&nbsp;</a>
    <script src="assets/js/app.js"></script>
  </body>
</html>
