<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRUCE RICH | AUTHOR | ENVIRONMENTAL LAWYER expert on public international finance and the environment | Nonprofits &amp; Activism</title>
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body>

    <div id="header-container">
    <div class="grid-container">
    	<div id="header" class="grid-x  grid-margin-x">
    		<div id="logo-cell" class="cell medium-3">
    			<a href="./"><img id="logo" src="assets/img/brucerich_logo.svg" alt="Bruce Rich Logo"></a>
    		</div> <!-- #header -->
    		<div class="cell medium-auto">
    			<div class="grid-x">
    				<div id="nav-top" class="cell show-for-medium">
    					<a href="https://www.facebook.com/brucerich" target="_blank"><img src="assets/img/facebook.png" alt="facebook.com"></a>
    					<a href="https://www.linkedin.com/in/bruce-rich-3ba56b15" target="_blank"><img src="assets/img/linkedin.png" alt="linkedin.com"></a>
    				</div> <!-- #nav-top -->
    				<div class="cell" id="nav">
    					<ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
    						<li><a class="menu-title" href="./">Home</a></li>
    						<li>
    						<a id="menu-about" href="about.html" class="menu-title">About</a>
    							<ul class="vertical menu align-left hide-for-medium">
    								<li><a href="about.html#about">About The Author</a></li>
    								<li><a href="media.html#about">Media</a></li>
    							</ul> <!-- .vertical .menu .align-left -->
    							<ul class="vertical menu align-left show-for-medium">
    								<li><a href="about.html">About The Author</a></li>
    								<li><a href="media.html">Media</a></li>
    							</ul> <!-- .vertical .menu .align-left -->
    						</li>
    						<li>
    						<a id="menu-books" href="books.html" class="active menu-title">Books</a>
    							<ul class="vertical menu align-left wide hide-for-medium">
    								<li><a href="book.html#book">Mortgaging The Earth</a></li>
    								<li><a href="book.html#book">Foreclosing The Future</a></li>
    								<li><a href="book.html#book">To Uphold The World</a></li>
    								<li><a href="book.html#book">Ashoka In Our Time</a></li>
    								<li><a href="books.html#books">View All</a></li>
    							</ul> <!-- .vertical .menu .align-left .wide -->
    							<ul class="vertical menu align-left wide show-for-medium">
    								<li><a href="book.html">Mortgaging The Earth</a></li>
    								<li><a href="book.html">Foreclosing The Future</a></li>
    								<li><a href="book.html">To Uphold The World</a></li>
    								<li><a href="book.html">Ashoka In Our Time</a></li>
    							</ul> <!-- .vertical .menu .align-left .wide -->
    						</li>
    						<li>
    						<a id="menu-articles" href="articles.html" class="menu-title">Articles</a>
    							<ul class="vertical menu align-left wide hide-for-medium">
    								<li><a href="article.html#article">Economic Forum: The Developing World</a></li>
    								<li><a href="article.html#article">Environmental Forum: Cover Stories</a></li>
    								<li><a href="article.html#article">Law Review Articles And Comments</a></li>
    								<li><a href="article.html#article">Congressional Testimony</a></li>
    								<li><a href="article.html#article">Development Finance, Environment And Institutions</a></li>
    								<li><a href="article.html#article">Ashoka, Buddhism And Globalization</a></li>
    								<li><a href="article.html#article">Topical Articles And Reviews</a></li>
    								<li><a href="articles.html#articles">View All</a></li>
    							</ul> <!-- .vertical .menu .align-left .wide -->
    							<ul class="vertical menu align-left wide show-for-medium">
    								<li><a href="article.html">Economic Forum: The Developing World</a></li>
    								<li><a href="article.html">Environmental Forum: Cover Stories</a></li>
    								<li><a href="article.html">Law Review Articles And Comments</a></li>
    								<li><a href="article.html">Congressional Testimony</a></li>
    								<li><a href="article.html">Development Finance, Environment And Institutions</a></li>
    								<li><a href="article.html">Ashoka, Buddhism And Globalization</a></li>
    								<li><a href="article.html">Topical Articles And Reviews</a></li>
    							</ul> <!-- .vertical .menu .align-left .wide -->
    						</li>
    						<li>
    							<a href="insights.html#insights"class="menu-title hide-for-medium">Insights</a>
    							<a href="insights.html"class="menu-title show-for-medium">Insights</a>
    						</li>
    						<li>
    							<a href="contact.html#contact"class="menu-title hide-for-medium">Contact</a>
    							<a href="contact.html"class="menu-title show-for-medium">Contact</a>
    						</li>
    					</ul> <!-- .vertical .medium-horizontal .menu .align-right -->
    				</div> <!-- #nav -->
    			</div> <!-- .grid-x -->
    		</div> <!-- .cell .medium-9 -->
    	</div> <!-- #header -->
    </div> <!-- grid-container -->
    </div> <!-- header-container -->
    <a name="book" class="hide-for-medium"></a>
    <div id="br-breadcrumbs">
    <div class="grid-container">
    	<div class="grid-x grid-margin-x">
    		<div class="cell medium-12">
    			<nav aria-label="You are here:" role="navigation">
    			  <ul class="breadcrumbs">
    			    <li><a href="./">Home</a></li>
    			    <li><a href="books.html">Books</a></li>
    			    <li>
    			      <span class="show-for-sr">Current: </span> Foreclosing the Future
    			    </li>
    			  </ul>
    			</nav>
    		</div> <!-- .cell .medium-12 -->
    	</div> <!-- .grid-x .grid-margin-x -->
    </div> <!-- grid-container -->
    </div> <!-- breadcrumbs -->
    <div id="article-title">
    <div class="grid-container">
    	<div class="grid-x grid-margin-x">
    		<div class="cell medium-12">
    			<h1 class="h2">Foreclosing the Future: The World Bank and the Politics of Environmental Destruction</h1>
    		</div> <!-- .cell .medium-12 -->
    	</div> <!-- .grid-x .grid-margin-x -->
    </div> <!-- .grid-container -->
    </div> <!-- #article-title -->
    <div id="article-page"> <!-- bite hero -->
    <div class="grid-container">
    	<div class="grid-x grid-margin-x">
    		<div class="cell medium-3">
    			<span class="book">
    				<p><img src="assets/img/book-01.png" alt=""></p>
    				<ul class="book-submenu">
    					<li><a href="#about">About</a></li>
    					<li><a href="#videos">Videos</a></li>
    					<li><a href="#review">Review Quotes</a></li>
    					<li><a href="#reviews">Reviews</a></li>
    					<li><a href="#articles">Articles, Interviews, Essays</a></li>
    					<li><a href="#cover">Cover Images</a></li>
    					<li><a href="#publishers">Publisher's Pages</a></li>
    					<li><a href="#purchasing">Purchasing Options</a></li>
    				</ul>
    				<p><img class="buy-button-amazon" src="assets/img/buy-button-amazon.png" alt=""></p>
    <!-- 				<div id="tags">
    					<div class="grid-x">
    						<div class="cell">
    							<a class="small button tag" href="tags.html">Accounting</a>
    							<a class="small button tag" href="tags.html">Appropriations</a>
    							<a class="small button tag" href="tags.html">Ashoka</a>
    							<a class="small button tag" href="tags.html">Book Tour</a>
    							<a class="small button tag" href="tags.html">Committee</a>
    							<a class="small button tag" href="tags.html">Deep State</a>
    							<a class="small button tag" href="tags.html">Research Grant</a>
    							<a class="small button tag" href="tags.html">Development Institution</a>
    							<a class="small button tag" href="tags.html">Scrutiny</a>
    							<a class="small button tag" href="tags.html">Wealth</a>
    							<a class="small button tag" href="tags.html">Poor</a>
    							<a class="small button tag" href="tags.html">Zebra</a>
    						</div>
    					</div>
    				</div> --> <!-- #tags -->
    				<h3 class="h4">Tags:</h3>
    				<ul class="book-submenu">
    					<li><a href="tags.html">Accounting</a></li>
    					<li><a href="tags.html">Appropriations</a></li>
    					<li><a href="tags.html">Ashoka</a></li>
    					<li><a href="tags.html">Book Tour</a></li>
    					<li><a href="tags.html">Committee</a></li>
    					<li><a href="tags.html">Deep State</a></li>
    					<li><a href="tags.html">Development Institution</a></li>
    					<li><a href="tags.html">Scrutiny</a></li>
    					<li><a href="tags.html">Wealth</a></li>
    					<li><a href="tags.html">Poor</a></li>
    					<li><a href="tags.html">Zebra</a></li>
    				</ul>
    			</span>
    		</div> <!-- .cell .medium-3 -->
    		<div class="cell medium-auto article-body">
    			<p class="lead">Foreclosing the Future shows how the World Bank’s failure to address the challenges of the 21st Century has implications for everyone in an increasingly interdependent world.</p>
    
    			<p>Author Bruce Rich depicts how the World Bank is a microcosm of global political and economic trends—powerful forces that threaten both environmental and social ruin. Rich shows how the Bank has reinforced these forces, undercutting the most idealistic attempts at alleviating poverty and sustaining the environment, and damaging the lives of millions. Readers will see global politics on an increasingly crowded planet as they never have before—and come to understand the changes necessary if the World Bank is ever to achieve its mission.</p>
    
    			<p><a href="">Show All</a></p>
    
    			<h2 class="h3 uppercase">Media</h2>
    
    			<img src="assets/img/00-speaking-fpo.jpg" alt="">
    			<p  class="image-cite">Bruce Rich discussing “Foreclosing the Future” at the Institute for Agriculture and Trade Policy. <a href="">View Video on YouTube</a></p>
    
    			<p><a href="">Show All</a></p>
    
    			<h2 class="h3 uppercase">Reviews</h2>
    
    			<p class="review">“Foreclosing the Future carefully documents the World Bank's adherence to 'pushing the money out the door,' refusing to learn from past mistakes, tolerating corruption, trashing the planet, and evicting the poor—all in devout service to a mis-measure of wealth. Bruce Rich gives a tragic, honest, and well-argued account of the decline of a once-promising institution.”</p>
    
    			<p class="byline">—Herman Daly, Former Senior World Bank Economist, Professor Emeritus, School of Public Policy, University of Maryland</p>
    
    			<p class="review">“A compelling account of the past two decades of global environmental politics as played out in the world's leading development institution. Foreclosing the Future underscores that the need for public scrutiny of international  nancial institutions is as great as ever.”</p>
    
    			<p class="byline">—Senator Tom Udall, New Mexico, Senate Foreign Relations Committee, Senate Appropriations Committee</p>
    
    			<p class="review">“Deeply-researched and  lled with heretofore publicly unavailable Bank documents.... His book argues thoroughly and methodically that the Bank's permissive attitude towards environmental destruction has continued, if not worsened, in the past decade.”</p>
    
    			<p class="byline">—New Republic</p>
    
    			<p class="review">“The strength of the book, however, is its dissection of the Bank's approach to climate change.”</p>
    
    			<p class="byline">—Financial Times</p>
    
    			<p><a href="">Show All</a></p>
    
    			<h2 class="h3 uppercase">Additional Info</h2>
    
    			<p class="book-info">Four page summary of the book, in Bretton Woods Project "At Issue":<br />
    				<a href="https://www.brettonwoodsproject.org/wp-content/uploads/2013/10/At-Issue-Bruce-Rich-FINAL.pdf" target="_blank">
    				https://www.brettonwoodsproject.org/&hellip;</a></p>
    
    			<p class="book-info">Excerpt from the book published on Alternet:<br />
    				<a href="https://www.alternet.org/environment/how-world-bank-hurtling-us-toward-environmental-ruin" target="_blank">https://www.alternet.org/environment/&hellip;</a></p>
    
    			<p><a href="">Show All</a></p>
    
    		</div> <!-- .cell .medium-9 .article-body -->
    	</div> <!-- .grid-x .grid-margin-x -->
    </div> <!-- grid-container -->
    </div> <!-- article page -->
    <div id="article-nav">
    <div class="grid-container">
    	<div class="grid-x bottom_line">
    		<div class="cell medium-12">
    			<hr />
    		</div> <!-- .cell .medium-12 -->
    	</div> <!-- .grid-x .grid-margin-x .bottom_line -->
    	<!-- /divider -->
    	<div class="grid-x grid-margin-x">
    		<div class="cell medium-12">
    			<p class="nav-return"><a href="books.html">Return to List</a></p>
    		</div> <!-- .cell .medium-12 -->
    	</div> <!-- .grid-x .grid-margin-x -->
    </div> <!-- .grid-container -->
    </div> <!-- #article-nav -->
    
    <div id="footer-container">
    <div class="grid-container">
    	<div id="footer" class="grid-x  grid-margin-x">
    		<div id="footer-logo-cell" class="cell medium-3">
    			<a href="./"><img id="logo" src="assets/img/brucerich_logo.svg" alt="Bruce Rich Logo"></a>
    		</div> <!-- #footer-logo-cell -->
    		<div class="cell medium-1">
    			<ul id="footer-menu">
    				<li><a href="about.html">About</a></li>
    				<li><a href="books.html">Books</a></li>
    				<li><a href="articles.html">Articles</a></li>
    				<li><a href="insights.html">Insights</a></li>
    				<li><a href="contact.html">Contact</a></li>
    			</ul>
    		</div> <!-- .cell .medium-1 -->
    		<div class="cell medium-3">
    			<p class="text-center">Connect</p>
    			<p class="social-footer text-center">
    				<a href="https://www.facebook.com/brucerich" target="_blank"><img src="assets/img/facebook.png" alt="facebook.com"></a>
    				<a href="https://www.linkedin.com/in/bruce-rich-3ba56b15" target="_blank"><img src="assets/img/linkedin.png" alt="linkedin.com"></a></p>
    			<p class="small text-center show-for-medium">&copy; 2018 Bruce Rich | All Rights Reserved</p>
    		</div> <!-- .cell medium-3 -->
    		<div class="cell medium-auto">
    			<p class="text-center"><img class="mail-icon" src="assets/img/mail-icon.png" alt=""></p>
    			<p class="text-center margin-bottom-30">Sign-up For News And Alerts</p>
    				<!-- mobile -->
    				<span id="subscribe" class="hide-for-medium">
    					<form action="">
    						<input type="email" name="email" placeholder="email"><input type="submit" value=">">
    					</form>
    				</span>
    				<!-- desktop -->
    				<span id="subscribe" class="show-for-medium">
    					<form action="">
    						<input type="email" name="email" placeholder="Enter your email"><input type="submit" value=">">
    					</form>
    				</span>
    			<p class="small text-center hide-for-medium">&copy; 2018 Bruce Rich | All Rights Reserved</p>
    		</div> <!-- .cell .medium-5 -->
    	</div> <!-- #footer -->
    </div> <!-- .grid-container -->
    </div> <!-- footer-container -->
    <!-- sticky scroll to top  -->
    <a href="#" class="scrollToTop" style="display: block;">&nbsp;</a>
    <script src="assets/js/app.js"></script>
  </body>
</html>
